# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.db

# Virtual environment
venv/
env/
ENV/
.venv/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Python environment files
*.env
*.venv
